body{
    margin: 0;
    padding: 0;
}

.containerMenu{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

header{
  width: 100%;
}

/*menu*/

nav{
    padding: 0;
    background-color: #F58E94;
    width: 100%;
}

.enlace{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    border-right: 2px solid black;
    padding: 20px 50px 20px 6.1%;
    color: white;
    cursor: move;
    overflow: hidden;
}

.enlace:hover{
    background-color: #FFD7D6;
    color: #F58E94;
}

a{
  text-decoration: none;
}

.menu2{
      display: none;
    }